<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinoservices.xascf.system.mapper.TableInfoMapper">
    <resultMap type="com.sinoservices.xascf.system.view.TableInfoItem" id="tableInfoItemResult">
        <result property="columnName" column="COLUMN_NAME"/>
        <result property="columnDataType" column="DATA_TYPE"/>
        <result property="columnComment" column="COLUMN_COMMENT"/>
    </resultMap>
    
    <sql id="select">
       	SELECT COLUMN_NAME , DATA_TYPE , COLUMN_COMMENT 
    </sql>

    <sql id="findByExampleWhere">
        WHERE 1=1 AND TABLE_SCHEMA='XA_SDP'
        <if test="tableName!=null and tableName!=''"> AND TABLE_NAME = #{tableName}</if>
        <if test="columnComment!=null and columnComment!=''"> AND COLUMN_COMMENT LIKE ('%#{columnComment}%')</if>
    </sql>

    <select id="getPage" parameterType="com.sinoservices.xascf.system.view.TableInfoItem" resultMap="tableInfoItemResult">
        <include refid="select" />
        FROM INFORMATION_SCHEMA.COLUMNS
        <include refid="findByExampleWhere" />
    </select>
    
    <select id="countByCondtion" parameterType="com.sinoservices.xascf.system.view.TableInfoItem" resultType="int">
        SELECT COUNT(1)  FROM INFORMATION_SCHEMA.COLUMNS
        <include refid="findByExampleWhere" />
    </select>
    
    
</mapper>