<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinoservices.xascf.fancing.mapper.FancingGuaranteeMapper">
	<resultMap type="com.sinoservices.xascf.fancing.model.FancingGuaranteeModel" id="fancingGuaranteeModelResultMap">
		<result property="id" column="ID"/>
		<result property="guaranteePid" column="GUARANTEE_PID"/>
		<result property="guaranteeName" column="GUARANTEE_NAME"/>
		<result property="guaranteeAddress" column="GUARANTEE_ADDRESS"/>
		<result property="guaranteeBusinessUrl" column="GUARANTEE_BUSINESS_URL"/>
		<result property="guaranteeCapital" column="GUARANTEE_CAPITAL"/>
		<result property="guaranteeContacts" column="GUARANTEE_CONTACTS"/>
		<result property="tel" column="TEL"/>
		<result property="guaranteeRegisteredCapital" column="GUARANTEE_REGISTERED_CAPITAL"/>
		<result property="mobile" column="MOBILE"/>
		<result property="email" column="EMAIL"/>
		<result property="guaranteeBusiness" column="GUARANTEE_BUSINESS"/>
		<result property="remark" column="REMARK"/>
		<result property="recVer" column="REC_VER"/>
		<result property="createTime" column="CREATE_TIME"/>
		<result property="creator" column="CREATOR"/>
		<result property="modifyTime" column="MODIFY_TIME"/>
		<result property="modifier" column="MODIFIER"/>
		<result property="recStatus" column="REC_STATUS"/>
	</resultMap>
	<sql id="select">
		<![CDATA[
			SELECT 
					ID,
					GUARANTEE_PID,
					GUARANTEE_NAME,
					GUARANTEE_ADDRESS,
					GUARANTEE_BUSINESS_URL,
					GUARANTEE_CAPITAL,
					GUARANTEE_CONTACTS,
					TEL,
					GUARANTEE_REGISTERED_CAPITAL,
					MOBILE,
					EMAIL,
					GUARANTEE_BUSINESS,
					REMARK,
					REC_VER,
					CREATE_TIME,
					CREATOR,
					MODIFY_TIME,
					MODIFIER,
					REC_STATUS
		]]>
	</sql>
	
	<sql id="count">
		<![CDATA[
	    	SELECT COUNT(1) 
	  	]]>
	</sql>
	
	<sql id="findByExample">
		WHERE 1=1
		<if test="id!=null and id!=''"> AND ID LIKE ('%'||'id'||'%' )</if>
		<if test="guaranteePid!=null and guaranteePid!=''"> AND GUARANTEE_PID LIKE ('%'||'guaranteePid'||'%' )</if>
		<if test="guaranteeName!=null and guaranteeName!=''"> AND GUARANTEE_NAME LIKE ('%'||'guaranteeName'||'%' )</if>
		<if test="guaranteeAddress!=null and guaranteeAddress!=''"> AND GUARANTEE_ADDRESS LIKE ('%'||'guaranteeAddress'||'%' )</if>
		<if test="guaranteeBusinessUrl!=null and guaranteeBusinessUrl!=''"> AND GUARANTEE_BUSINESS_URL LIKE ('%'||'guaranteeBusinessUrl'||'%' )</if>
		<if test="guaranteeCapital!=null and guaranteeCapital!=''"> AND GUARANTEE_CAPITAL LIKE ('%'||'guaranteeCapital'||'%' )</if>
		<if test="guaranteeContacts!=null and guaranteeContacts!=''"> AND GUARANTEE_CONTACTS LIKE ('%'||'guaranteeContacts'||'%' )</if>
		<if test="tel!=null and tel!=''"> AND TEL LIKE ('%'||'tel'||'%' )</if>
		<if test="guaranteeRegisteredCapital!=null and guaranteeRegisteredCapital!=''"> AND GUARANTEE_REGISTERED_CAPITAL LIKE ('%'||'guaranteeRegisteredCapital'||'%' )</if>
		<if test="mobile!=null and mobile!=''"> AND MOBILE LIKE ('%'||'mobile'||'%' )</if>
		<if test="email!=null and email!=''"> AND EMAIL LIKE ('%'||'email'||'%' )</if>
		<if test="guaranteeBusiness!=null and guaranteeBusiness!=''"> AND GUARANTEE_BUSINESS LIKE ('%'||'guaranteeBusiness'||'%' )</if>
		<if test="remark!=null and remark!=''"> AND REMARK LIKE ('%'||'remark'||'%' )</if>
		<if test="recVer!=null and recVer!=''"> AND REC_VER LIKE ('%'||'recVer'||'%' )</if>
		<if test="createTime!=null and createTime!=''"> AND CREATE_TIME LIKE ('%'||'createTime'||'%' )</if>
		<if test="creator!=null and creator!=''"> AND CREATOR LIKE ('%'||'creator'||'%' )</if>
		<if test="modifyTime!=null and modifyTime!=''"> AND MODIFY_TIME LIKE ('%'||'modifyTime'||'%' )</if>
		<if test="modifier!=null and modifier!=''"> AND MODIFIER LIKE ('%'||'modifier'||'%' )</if>
		<if test="recStatus!=null and recStatus!=''"> AND REC_STATUS LIKE ('%'||'recStatus'||'%' )</if>
	</sql>
	
	<select id="getCountByCondition" resultType="int" parameterType="com.sinoservices.xascf.fancing.model.FancingGuaranteeModel">
		<include refid="count"/>
		FROM  DM_FANCING_GUARANTEE
		<include refid="findByExample"/>
	</select>
	
	<select id="findByCondition" resultMap="fancingGuaranteeModelResultMap" parameterType="com.sinoservices.xascf.fancing.model.FancingGuaranteeModel">
		<include refid="select"/>
		FROM  DM_FANCING_GUARANTEE
		<include refid="findByExample"/>
	</select>
	
	<insert id="insert"  parameterType="com.sinoservices.xascf.fancing.model.FancingGuaranteeModel">
		INSERT INTO DM_FANCING_GUARANTEE (
				ID,
				GUARANTEE_PID,
				GUARANTEE_NAME,
				GUARANTEE_ADDRESS,
				GUARANTEE_BUSINESS_URL,
				GUARANTEE_CAPITAL,
				GUARANTEE_CONTACTS,
				TEL,
				GUARANTEE_REGISTERED_CAPITAL,
				MOBILE,
				EMAIL,
				GUARANTEE_BUSINESS,
				REMARK,
				REC_VER,
				CREATE_TIME,
				CREATOR,
				MODIFY_TIME,
				MODIFIER,
				REC_STATUS
		) VALUES (
			   #{id},
			   #{guaranteePid},
			   #{guaranteeName},
			   #{guaranteeAddress},
			   #{guaranteeBusinessUrl},
			   #{guaranteeCapital},
			   #{guaranteeContacts},
			   #{tel},
			   #{guaranteeRegisteredCapital},
			   #{mobile},
			   #{email},
			   #{guaranteeBusiness},
			   #{remark},
			   #{recVer},
			   #{createTime},
			   #{creator},
			   #{modifyTime},
			   #{modifier},
			   #{recStatus}
		);
	</insert>
	<!-- 批量执行插入 -->
	<insert id="addByList" parameterType="java.util.List">  
	    <selectKey keyProperty="createTime" order="BEFORE"  resultType="java.lang.String">  
	        SELECT CURRENT_TIMESTAMP()  
	    </selectKey>  
	    	INSERT INTO DM_FANCING_GUARANTEE (
				GUARANTEE_PID,
				GUARANTEE_NAME,
				GUARANTEE_ADDRESS,
				GUARANTEE_BUSINESS_URL,
				GUARANTEE_CAPITAL,
				GUARANTEE_CONTACTS,
				TEL,
				GUARANTEE_REGISTERED_CAPITAL,
				MOBILE,
				EMAIL,
				GUARANTEE_BUSINESS,
				REMARK,
				REC_VER,
				CREATOR,
				REC_STATUS
		) VALUES  
	    <foreach collection="list" item="item" index="index"  separator=",">  
	        ( 
			   #{item.guaranteePid},
			   #{item.guaranteeName},
			   #{item.guaranteeAddress},
			   #{item.guaranteeBusinessUrl},
			   #{item.guaranteeCapital},
			   #{item.guaranteeContacts},
			   #{item.tel},
			   #{item.guaranteeRegisteredCapital},
			   #{item.mobile},
			   #{item.email},
			   #{item.guaranteeBusiness},
			   #{item.remark},
			   1,
			   #{item.creator},
			   #{item.recStatus})  
	    </foreach>  
  </insert> 
	<update id="update"  parameterType="com.sinoservices.xascf.fancing.model.FancingGuaranteeModel">
		UPDATE DM_FANCING_GUARANTEE SET
				GUARANTEE_NAME = #{guaranteeName},
				GUARANTEE_ADDRESS = #{guaranteeAddress},
				GUARANTEE_BUSINESS_URL = #{guaranteeBusinessUrl},
				GUARANTEE_CAPITAL = #{guaranteeCapital},
				GUARANTEE_CONTACTS = #{guaranteeContacts},
				TEL = #{tel},
				GUARANTEE_REGISTERED_CAPITAL = #{guaranteeRegisteredCapital},
				MOBILE = #{mobile},
				EMAIL = #{email},
				GUARANTEE_BUSINESS = #{guaranteeBusiness},
				REMARK = #{remark},
				REC_VER = #{recVer},
				CREATE_TIME = #{createTime},
				CREATOR = #{creator},
				MODIFY_TIME = #{modifyTime},
				MODIFIER = #{modifier},
				REC_STATUS = #{recStatus}
				WHERE GUARANTEE_PID = #{guaranteePid}
	</update>
	<!-- 批量执行更新 -->
	<update id="updateByList" parameterType="java.util.List">
			UPDATE DM_FANCING_GUARANTEE 
			<trim prefix="set" suffixOverrides=","> 
	          <!-- 更新的字段集合 --> 
	          <trim prefix="GUARANTEE_NAME =case" suffix="end,">  
	              <foreach collection="list" item="i"  index="index">  
	                     <if test="i.guaranteeName!=null">  
	                      when (GUARANTEE_PID = #{i.guaranteePid}) then #{i.guaranteeName}  
	                     </if>  
	              </foreach>  
	           </trim>  
	          <trim prefix="GUARANTEE_ADDRESS =case" suffix="end,">  
	              <foreach collection="list" item="i"  index="index">  
	                     <if test="i.guaranteeAddress!=null">  
	                      when (GUARANTEE_PID = #{i.guaranteePid}) then #{i.guaranteeAddress}  
	                     </if>  
	              </foreach>  
	           </trim>  
	          <trim prefix="GUARANTEE_BUSINESS_URL =case" suffix="end,">  
	              <foreach collection="list" item="i"  index="index">  
	                     <if test="i.guaranteeBusinessUrl!=null">  
	                      when (GUARANTEE_PID = #{i.guaranteePid}) then #{i.guaranteeBusinessUrl}  
	                     </if>  
	              </foreach>  
	           </trim>  
	          <trim prefix="GUARANTEE_CAPITAL =case" suffix="end,">  
	              <foreach collection="list" item="i"  index="index">  
	                     <if test="i.guaranteeCapital!=null">  
	                      when (GUARANTEE_PID = #{i.guaranteePid}) then #{i.guaranteeCapital}  
	                     </if>  
	              </foreach>  
	           </trim>  
	          <trim prefix="GUARANTEE_CONTACTS =case" suffix="end,">  
	              <foreach collection="list" item="i"  index="index">  
	                     <if test="i.guaranteeContacts!=null">  
	                      when (GUARANTEE_PID = #{i.guaranteePid}) then #{i.guaranteeContacts}  
	                     </if>  
	              </foreach>  
	           </trim>  
	          <trim prefix="TEL =case" suffix="end,">  
	              <foreach collection="list" item="i"  index="index">  
	                     <if test="i.tel!=null">  
	                      when (GUARANTEE_PID = #{i.guaranteePid}) then #{i.tel}  
	                     </if>  
	              </foreach>  
	           </trim>  
	          <trim prefix="GUARANTEE_REGISTERED_CAPITAL =case" suffix="end,">  
	              <foreach collection="list" item="i"  index="index">  
	                     <if test="i.guaranteeRegisteredCapital!=null">  
	                      when (GUARANTEE_PID = #{i.guaranteePid}) then #{i.guaranteeRegisteredCapital}  
	                     </if>  
	              </foreach>  
	           </trim>  
	          <trim prefix="MOBILE =case" suffix="end,">  
	              <foreach collection="list" item="i"  index="index">  
	                     <if test="i.mobile!=null">  
	                      when (GUARANTEE_PID = #{i.guaranteePid}) then #{i.mobile}  
	                     </if>  
	              </foreach>  
	           </trim>  
	          <trim prefix="EMAIL =case" suffix="end,">  
	              <foreach collection="list" item="i"  index="index">  
	                     <if test="i.email!=null">  
	                      when (GUARANTEE_PID = #{i.guaranteePid}) then #{i.email}  
	                     </if>  
	              </foreach>  
	           </trim>  
	          <trim prefix="GUARANTEE_BUSINESS =case" suffix="end,">  
	              <foreach collection="list" item="i"  index="index">  
	                     <if test="i.guaranteeBusiness!=null">  
	                      when (GUARANTEE_PID = #{i.guaranteePid}) then #{i.guaranteeBusiness}  
	                     </if>  
	              </foreach>  
	           </trim>  
	           <trim prefix="Modifier =case"  suffix="end,"  >  
	              <foreach collection="list" item="i" index="index">   
	                     <if test="i.modifier!=null">  
	                      when (GUARANTEE_PID = #{i.guaranteePid}) then #{i.modifier}  
	                     </if>  
	              </foreach>  
	           </trim>
	           <trim prefix="Modify_Time =case"  suffix="end,"  >  
	              <foreach collection="list" item="i" index="index">   
	                      when (GUARANTEE_PID = #{i.guaranteePid}) then SYSDATE()  
	              </foreach>  
	           </trim>
	           <trim prefix="Rec_Ver =case"  suffix="end,"  >  
	              <foreach collection="list" item="i" index="index">   
	                      when (GUARANTEE_PID = #{i.guaranteePid}) then Rec_Ver+1  
	              </foreach>  
	           </trim>
         </trim>   
         where   
         <foreach collection="list" separator="or" item="i" index="index" >  
          (GUARANTEE_PID = #{i.guaranteePid}) 
      	</foreach>  
	</update>
</mapper>
